.p-section-header__upper{
    /* background-attachment: fixed; */
    background-size: 100% auto !important;
    /* background-position: 50% 50%; */
    background-position: center center;

    background-color: blue !important;
}